<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUQbNXLQTf_uxsJuQwmDDcMNsLrc5Baok</string>
	<key>GCM_SENDER_ID</key>
	<string>962951273814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.printhelper.app</string>
	<key>PROJECT_ID</key>
	<string>print-helper-29c11</string>
	<key>STORAGE_BUCKET</key>
	<string>print-helper-29c11.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962951273814:ios:d1224fba3d896c39624af7</string>
</dict>
</plist>